.contacts {
    padding: 0 20px;
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 900px) {
        padding: 0 80px;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    & > div {
        padding: 16px 0;
        white-space: nowrap;
        width: 100%;
        @media screen and (min-width: 500px) {
            &.phones {
                width: calc((100% - 44px - 198px - 40px));
            }
        }
        @media screen and (min-width: 900px) {
            &.phones, &.location {
                width: calc((100% - 44px - 198px) / 2);
            }
        }
        font-size: 0;
        text-align: center;
        .center-in-box {
            display: inline-block;
            font-size: 16px;
        }
        .icon {
            display: block;
            width: 40px;
            height: 40px;
            padding: 10px 0;
            box-sizing: content-box;
            float: left;
            transform: rotate(180deg);
        }
        .block-content {
            overflow: hidden;
            padding-left: 10px;
        }
        .small-text {
            font-size: 14px;
            color: #666;
            white-space: nowrap;
        }
    }
    & > div:first-child {
        width: 198px;
        box-sizing: content-box;
    }
    & > div:last-child {
        width: 44px;
        box-sizing: content-box;
    }

    &:after {
        content: '';
        display: table;
        clear: left;
    }
}

.welcome {
    height: 400px;
    background-position: 50%;
    background-size: cover;
    position: relative;

    a {
        cursor: default;
        display: block;
        box-sizing: content-box;
        width: 240px;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-family: Oswald,sans-serif;
        text-transform: uppercase;
        left: 50%;
        font-size: 24px;
        margin-left: -130px;
        font-weight: 300;
        line-height: 30px;
        padding: 6px 10px;
        -webkit-transition: background-color .4s;
        transition: background-color .4s;
        z-index: 1;
        position: relative;
        box-shadow: none;
        top: 37px;
    }
    a:hover {
        background-color: hsla(0,0%,100%,.4);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
}

.welcome-logo {
    position: absolute;
    padding: 0;
    z-index: 1;
    margin-bottom: 0;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 110px;
    margin-top: 0;

    img {
        margin: 0;
    }

    @media screen and (min-width: 900px) {
        top: 50%;
        margin-top: -134px;
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    div {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-bottom: 2px solid white;

        @media screen and (min-width: 900px) {
            padding-bottom: 50px;
        }
    }

    h2 {
        display: block;
        letter-spacing: 3px;
        padding-top: 25px;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        font-size: 32px;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        @media screen and (min-width: 900px) {
            padding-top: 50px;
        }
    }
}

.main-menu {
    display: none;
    position: sticky;
    top: 0;
    background-color: #dedede;
    font-size: 0;
    text-align: center;
    z-index: 4;
    margin: 0;

    @media screen and (min-width: 900px) {
        display: block;
    }

    a {
        font-size: 20px;
        display: inline-block;
        padding: 20px 32px;
        text-transform: uppercase;
        font-family: Oswald, sans-serif;
        font-weight: 300;
        line-height: 1.5;
        border-bottom: 1px solid transparent;
        color: #666;
        margin: 0;
        box-shadow: none;

        &:hover {
            color: #201921;
            border-color: #201921;
        }

        &:active {
            color: #acacac;
        }
    }
}

.site-menu {
    opacity: 0;
    position: relative;
    z-index: -1;
}
.is-menu .site-menu {
    opacity: 1;
    z-index: 20;
}